<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Пользователи</title>
  </head>
  <body>
    <h1>Список пользователей: </h1>
    <ul>
      <p>Загляните в консоль</p>
    </ul>

  </body>
</html>
