<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Пользователи</title>
  </head>
  <body>
    <h1>Список пользователей: </h1>
    <ul>
      <% for(var i = 0; i < users.length; i++) {%>
        <li><%=users[i] %></li>
      <%} %>
    </ul>

  </body>
</html>
